html {
	height: 436px;
	margin: 0 0 0 0;
	padding-bottom: 2px;
	padding: 0;
	max-width: 400px;
	max-height: 436px;
	overflow: hidden;
}

body {
	margin: 0 0 0 0;
	font-family: sans-serif;
	color: black;
	width: 100%;
	max-height: 100%;
	/* overflow-y: scroll;
	padding-right: 21px; 
	box-sizing: content-box;
	overflow-x: hidden; */
	overflow: hidden;
}

#more_icon {
	width: 32px;
	height: 32px;
	margin-top: 8px;
}

#more_icon:hover {
	filter: brightness(75%);
}

/* Tab header */

.tab-header {
	background-color: #f1f1f1;
	border-bottom: 1px solid #ddd;
	display: grid;
	grid-template-columns: 50% 50%;
	height: 32px;
	margin: 0 0 0 0px;
	overflow: hidden;
	width: 400px;
}

.tab-header button {
	background-color: inherit;
	border: none;
	cursor: pointer;
	font-size: 17px;
	height: 100%;
	outline: none;
	padding: 4px 8px;
	transition: 0.3s;
}

.tab-header button:hover {
	background-color: #ddd;
}

.tab-header button.active {
	background-color: #cccccc;
}

/* List item sections */

.list-div {
	float: left;
	margin: 0;
	overflow: hidden;
	padding: 0 0px 0 0px;
}

div.right {
	width: 32px;
	float: right;
}

div.left {
	padding: 0 0 0 5px;
	width: 360px;
}

.tabcontent {
	padding: 0 0 0 0;
	width: 100%;
	resize: none;
	max-height: 384px;
	/* Increase/decrease this value for cross-browser compatibility */
	box-sizing: content-box;
	/* So the width will be 100% + 17px */
	overflow-x: hidden;
	display: inline-block;
	font-size: 14px;
	height: -moz-fit-content;
	height: -webkit-fit-content;
	height: auto;
	min-height: 384px;
}

.tabcontent::-webkit-scrollbar {
    width: 6px;
}
 
.tabcontent::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 4px rgba(0,0,0,0.3);
}
 
.tabcontent::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}


#link-list,
#file-list {
	display: inline-block;
	font-size: 14px;
	height: auto;
	list-style-type: none;
	margin: 0;
	min-width: 180px;
	padding: 0px 0px 0px 0px;
	width: 100%;
}

.list-item {
	cursor: pointer;
	display: inline-block;
	height: auto;
	margin: 0;
	padding: 3px 0 3px 0px;
	width: 400px;
	border-bottom: 1px solid #a4a4a438;
}

.list-item:hover {
	background: #eee;
}

.link-thumb {
	margin: 0 6px 0 4px;
	height: 30px;
	width: 30px;
	float: left;
}

.link-title {
	color: black;
	display: inline;
	font: 20px/1.5 sans-serif;
	line-height: inherit;
	margin: 0;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.local-title {
	display: block;
}

.link-url {
	direction: rtl;
	display: inline-block;
	font-size: 14px;
	line-height: 1.3;
	margin: 0 0 0 0;
	padding: 0px 0px 0px 0px;
	text-decoration: none;
	word-wrap: break-word;
	width: 360px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

li {
	display: inline-block;
	font: 15px/1.5 sans-serif;
	margin: 0 10px 0 10px;
	padding: 0px, 10px, 0px, 10px;
	width: 368px;
	word-wrap: break-word;
}

.footer {
	font-size: 14px;
	width: 100%;
	height: 20px;
	display: grid;
	grid-template-columns: 94% 6%;
	background: white;
}

.footer div {
	height: 16px;
	margin: 0 0 0 0;
	padding: 2 0 2 0;
}

#settings-link {
	height: 16px;
	width: 16px;
	background-color: inherit;
	border: none;
	cursor: pointer;
	outline: none;
	padding: 0;
}

#settings-icon {
	width: 16px;
	height: 16px;
}

#count-display {
	height: inherit;
	margin: 0 0 0 3px;
}